<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StartPath" value="\\dacrspftpfs01\ftp$\CGI\NPD\OUTfromCGI\OPSContracts" />
    <add key="Zipped" value="\\dacrspftpfs01\ftp$\CGI\NPD\OUTfromCGI\OPSContracts\NewContracts.zip" />
    <add key="ExtractPath" value="\\dacrspftpfs01\ftp$\CGI\NPD\OUTfromCGI\OPSContracts" />
    <add key="EmailNotify" value="WebSupport@mail.maricopa.gov" />
  </appSettings>
</configuration>